@import url('https://fonts.googleapis.com/css?family=Whisper');
@import url('https://fonts.googleapis.com/css?family=Pompiere');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  font-family: 'Pompiere', sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursive {
  font-family: 'Whisper', sans-serif;
}

.bg-image{
  background-image: url("/public/img/background.png");

  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: fixed;
}

/*.non-cursive {*/
/*  font-family: 'Ubuntu';*/
/*}*/

@media only screen and (max-width: 600px) {
  .bg-image{
    background-image: url("/public/img/background.png");
    /* Full height */


    /* Center and scale the image nicely */
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;  }
}
