@import url('https://fonts.googleapis.com/css?family=Whisper');
@import url('https://fonts.googleapis.com/css?family=Pompiere');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  font-family: 'Pompiere', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursive {
  font-family: 'Whisper', sans-serif;
}


.bg-image{
  background-image: url("/public/img/background.jpg");
  background-position: top 300px right;
  background-repeat: no-repeat;
  background-size: 25%;
  background-attachment: fixed;
}

.ios-background{
  background-image: url("/public/img/background.jpg");
  background-position: top 650px right;
  background-repeat: repeat-y;
  background-size: 40%;


}

@media only screen and (max-width: 600px) {
  .bg-image{
    background-image: url("/public/img/background.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;  }
}
